doctype html
html(lang="en")
    head
        include partials/header
    body 
        header.barra 
            h1 UpTask - Projects Administrator 
            a(href="/logout") Logout 
        main.contenedor 
            aside.contenedor-proyectos
                .panel.crear-proyecto 
                    a(href="/new-project").boton New Project 
                        span + 
                .panel.lista-proyectos 
                    h2 Projects
                    ul#proyectos.proyectos 
                        if(projects.length)
                            each project in projects
                                li
                                    a(href=`/projects/${project.url}`)= project.name 
            block content

            //- pre= vardump(projects)
        script(src="/dist/bundle.js")